@using HouseRentingSystem.Core.Contracts
@model HouseServiceModel
@inject IAgentService agentService
@inject IHouseService houseService

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="House Image">
        <div class="card-body text-center">
            <h4>@Model.Title</h4>
            <h6>Address: <b>@Model.Address</b></h6>
            <h6>
                Price Per Month:
                <b>@String.Format("{0:f2}", Model.PricePerMonth) BGN</b>
            </h6>
            <br />
            <form class="input-group-sm" asp-controller="House"
                  asp-area="Admin" asp-action="Approve" asp-route-houseId="@Model.Id" method="post">
                <input class="btn btn-success" type="submit" value="Approve" />
            </form>
        </div>
    </div>
</div>
