@model IEnumerable<RentServiceModel>
@{
    ViewBag.Title = "All Rents";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="row">
    @foreach (var rent in Model)
    {
        <div class="card mb-3 col-4">
            <img class="card-img-top" src="@rent.HouseImageUrl" alt="House Image">
            <div class="card-body text-center">
                <h4>@rent.HouseTitle</h4>
                <h6>Agent: <b>@rent.AgentFullName (@rent.AgentEmail)</b></h6>
                <h6>Rented By: 
                    @if (rent.RenterEmail != string.Empty)
                    {
                        <b>@rent.RenterFullName (@rent.RenterEmail)</b>
                    }
                </h6>
            </div>
        </div>
    }
</div>